.recipe {
  text-align: start;
  position: relative;
  z-index: 2;
}

.recipe__title {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
}

.recipe__text {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #c4c1cf;
  font-weight: 300;
  text-align: justify;
  width: 100%;
  list-style: none;
  padding-left: 0;
}
