.ingredients {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  z-index: 2;
}

.ingredients__title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.ingredients__list {
  padding-left: 0;
  margin: 0;
  width: -webkit-fill-available;
  font-size: 18px;
  line-height: 21px;
  color: #c4c1cf;
  font-weight: lighter;
}

.ingredients__item {
  display: block;
  text-align: start;
  position: relative;
  overflow: hidden;
}

.ingredients__item::after {
  content: "";
  display: block;
  overflow: hidden;
  height: 16px;
  border-bottom: 2px dotted #c4c1cf;
  padding-top: 2px;
}

.ingredients__name {
  display: block;
  float: left;
  z-index: 2;
  padding-right: 2px;
}

.ingredients__size {
  display: block;
  float: right;
  z-index: 2;
  padding-left: 2px;
}
