.empty {
  max-width: 336px;
  height: 421px;
  background-image: url(../../img/no-result.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  border-radius: 32px;
}

.empty__wp {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 32px;
  bottom: 24px;
  align-items: flex-start;
}

.empty__title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  padding-top: 40px;
}

.empty__name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
}

.empty__filter {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #c4c1cf;
}
