.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-top: 32px;
  margin-bottom: 32px;
  border-radius: 0 32px 0 0;
  z-index: 3;
}

.title__name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
}

.title__filter {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #c4c1cf;
}
