.cards {
  margin-bottom: 28px;
  flex: 1 0 auto;
  max-width: 1920px;
  display: grid;
  row-gap: 28px;
  column-gap: 32px;
  padding-right: 32px;
  padding-left: 32px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 336px));
}

@media (min-width: 768px) {
  .cards {
    min-width: 768px;
    column-gap: 32px;
  }
}
