.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 32px 0 8px;
    background: linear-gradient(180deg, #201f2e 80%, rgba(32, 31, 46, 0) 100%);
    z-index: 2;
}

.header__container {
    margin: 0 auto;
    padding-left: 32px;
}

.header__title {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.header__date {
    color: #C4C1CF;
    font-size: 18px;
    margin: 0;
}

.header__logo {
    position: absolute;
    right: 0;
    top: 0;
}

.header__navbar {
    display: flex;
    margin: 32px 0 0;
    list-style: none;
    overflow: auto;
    padding: 0;
}

.header__navbar::-webkit-scrollbar {
    display: none;
}

.header__navbar-button {
    background-color: rgba(0, 0, 0, 0);
    color: #C4C1CF;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.header__navbar-button:active {
    border: 1px solid;
    border-radius: 32px;
}